<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">

</head>
<body>

<ul class="nav nav-tabs">
    <li class="nav-item ml-5 pl-3 pr-3">
        <a class="nav-link " href="/home">Recommender System</a>
    </li>
    <li class="nav-item pl-3 pr-3">
        <a class="nav-link" href="/allTracks">List all tracks</a>
    </li>
    <li class="nav-item pl-3 pr-3">
        <a class="nav-link" href="/collaborativeFiltering">Collaborative Filtering</a>
    </li>
    <li class="nav-item pl-3 pr-3">
        <a class="nav-link active" href="/contentBased">Content Based</a>
    </li>
</ul>
<br><br>
<h2> Lista polecanych utworów: </h2>
<div class="container-fluid" xmlns:th="http://www.w3.org/1999/xhtml">
    <main role="main" class="col-md-10 ml-auto mr-auto">
        <div>
            <div th:each="trackDetails : ${recommendedTrack}">
                <h6 th:text="${trackDetails.trackId}" />
                <form th:action="@{'/getTrack/'+${trackDetails.trackId}}" method="GET" class="form-signin">
                    <button class="btn btn-sm btn-info" type="submit">Details</button>
                </form>
                <hr>
            </div>
        </div>
    </main>
</div>
</body>
</html>
