<div xmlns:th="http://www.w3.org/1999/xhtml">

    <form th:action="@{/register}" th:object="${user}" method="post" role="form">
        <input type="text" th:field="*{nickname}" class="registryLabel" required placeholder="nick"> <br>
        <input type="text" th:field="*{gender}" class="registryLabel" required placeholder="plec"> <br>
        <input type="text" th:field="*{age}" class="registryLabel" required placeholder="age"> <br>
        <input type="text" th:field="*{email}" class="registryLabel" required placeholder="e-mail"> <br>
        <input type="password" th:field="*{password}"class="registryLabel" required placeholder="hasło"> <br>
        <input type="password" class="registryLabel" required placeholder="powtórz hasło"> <br>
        <input type="submit" id="registryButton" class="button" value="Zarejestruj">
        <br><span class="span" th:utext="${successMessage}" style="font-size: small; color: crimson"></span>
    </form>

</div>