<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">

</head>
<body>

<ul class="nav nav-tabs">
    <li class="nav-item ml-5 pl-3 pr-3">
        <a class="nav-link active" href="/home">Recommender System</a>
    </li>
    <li class="nav-item pl-3 pr-3">
        <a class="nav-link" href="/allTracks">List all tracks</a>
    </li>
    <li class="nav-item pl-3 pr-3">
        <a class="nav-link" href="/collaborativeFiltering">Collaborative Filtering</a>
    </li>
    <li class="nav-item pl-3 pr-3">
        <a class="nav-link" href="#">Content Based</a>
    </li>
</ul>

<br><br>

<div class="container-fluid">
    <main role="main" class="col-md-10 ml-auto mr-auto">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Welcome in Recommender system!</h1>
            <div class="pl-5 ml-5">
                <p th:text="'Logged as: '+${activeUser}" />
            </div>
            <div>
                <a class="btn btn-sm btn-danger" href="/logout">Sign out</a>
            </div>
        </div>
    </main>
</div>
</body>
</html>
